#pantalla1{
    text-align: center;
    display: block;
}

.jugar{
    border-radius: 5px;
    display: block;
    text-align: center;
    padding: 1em;
    margin: 1em;
}

body {
    background-image: url("IMG/fondo.jpg")
}

