/*ESTO ES PARA AGREGAR LA FUENTE TIZA EN EL HTML*/
@font-face {
    font-family: tiza;
    src: url(tiza.ttf);
    }

body{
    font-family: tiza;
    margin: 0px;
    padding: 0px;
    background-image: url("../IMG/fondo.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
}

section{
    width: 100vw;
    height: 100vh;
    display: none;
    text-align: center;
}

#pantalla1{
    padding: 250px;
    text-align: center;
    display: block;
    height: 140px;
    width: auto;
    background-image: url("../IMG/fondo.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;

}

/*TAMAÑO DE LETRA DEL TITULO*/
h1{
    font-size: 30pt;
    text-align: center;
}

/*TAMAÑO DE LETRA DEL SUBTITULO*/
h1{
    font-size: 20pt;
    text-align: center;
}
#pantalla2, #ganaste, #perdiste {
    padding: 250px;
    text-align: center;
    height: 140px;
    width: auto;
    
}

#fotos{

    position: absolute;
    top: 2%;
    left: 2%;

}
    
  
    #ahorcado{
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        background-position: left center;
        height: 480px;
        width: auto;
        display: flex;
        align-items: left;
        justify-content: left;
        position: absolute;
        
    }
    
/* ID --> BOTON JUGAR */
#jugar{
    border-radius: 8px;
    border-color: #FFFFFF;
    height: 40px;
    width: 140px;
    background-color: #277733;
    font-size: large;
    color: #FFFFFF;
    margin: 20px;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#palabra{
    border-radius: 8px;
    border-color: #FFFFFF;
    height: 40px;
    width: 200px;
    background-color: #277733;
    font-size: large;
    color: #FFFFFF;
    margin: 20px;
}

#pedido{
    border-radius: 8px;
    height: 30px;
    width: auto;
    background-color: #ffffff;
    font-size: medium;
    color: #000;
    margin: 20px;
    box-shadow: inset 3px 4px 4px 1px rgba(0,0,0,0.5);
}

h1, h2, h3 {
    color: white;
}


.boton {
    margin: 0.5em;
    text-align: center;
    font-size: large;
    width: 60px;
    height: 60px;
    border-radius: 1em;
    border-color: #FFFFFF;
}

/* BORDE SPAN NO FUNCIONA */
span {
    font-size: 60px;
    font-weight: bold;
    color: #FFFFFF;

}

/*body {
    height: 600px;
    width: auto;
    background-image: url("../IMG/fondo.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    
}

.boton
TODO*/





