#pantalla1{
    padding: 250px;
    text-align: center;
    display: block;

}

#pantalla2{
    padding: 250px;
    text-align: center;
    display: block;

}

h1, h2, h3 {
    color: white;
}

.jugar{
    border-radius: 5px;
    display: block;
    text-align: center;
    padding: 1em;
    margin: 1em;
}

body {
    height: 600px;
    width: auto;
    background-image: url("../IMG/fondo.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    
}

/* .boton
TODO*/


